* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}


/*HEADER*/

header {
    background-color: black;
    color: white;
    width: 100%;
    font-weight: 600;
}

.container {
    width: 1054px;
    margin: 0 auto;
}

.logo {
    height: 12px;
    float: left;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

.logo p {
    margin: 13px 0;
}

.logo span {
    color: #24BA9F;
    font-weight: 900;
}


/*NAVBAR*/

nav {
    float: right;
    font-size: 14px;
    letter-spacing: 4px;
    height: 41px;
}

.menu {
    position: relative;
    list-style: none;
}

.menu li {
    display: inline-block;
    margin: 0px 0 0 27px;
    letter-spacing: 0.8px;
    position: relative;
}
.menu li a {
  color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover ul {
    opacity: 1;
    display: inline-block;
}
.dropdown:hover {
  height: 60px;
}
.dropdown>li {
    margin-right: 16px;
}

.inner_menu {
  display: none;
    opacity: 0;
    position: absolute;
    list-style: none;
    background-color: black;
    /*margin-top: 24px;*/
    padding: 15px;
    left: -20px;
    top: 36px;
    font-weight: 400;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

.inner_menu::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: relative;
    top: -23px;
    left: 38px;
    bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}

.inner_menu li {
    display: block;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}

.half {
    float: left;
    width: 50%;
}


/*MAIN SECTION*/

#main {
    width: 100%;
    height: 504px;
    background: white;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, white, #cecdd5);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, white, #cecdd5);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, white, #cecdd5);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, white, #cecdd5);
    /* Standard syntax */
}

.ten {
    width: 5%;
    height: 400px;
    float: left;
    color: #24BA9F;
    font-size: 75px;
    font-weight: 300;
    padding-top: 210px;
    margin-left: 4px;
}

#main .fourty {
    width: 40.7%;
    float: left;
}

.center {
    text-align: center;
}

.slider img {
    position: relative;
    left: 0px;
    width: 100%;
    padding: 71px 0 0px 0px;
}


/*SLIDER*/

.slider ul {
    list-style: none;
}

.slider li {
    display: none;
}

.slider .visible {
    display: inline-block;
}

#nextPicture, #prevPicture {
    cursor: pointer;
}
#nextPicture:active, #prevPicture:active {
    cursor: pointer;
}

.fourty h1 {
    font-size: 40px;
    font-weight: 400;
    padding-top: 101px;
    margin-bottom: 26px;
}

.fourty p {
    font-size: 14px;
    color: black;
    font-weight: 300;
    margin-bottom: 3px;
    padding-bottom: 5px;
    line-height: 28px;
}

.fourty strong {
    color: #24BA9F;
}

.fourty a {
    display: block;
    width: 263px;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 0.7px;
    text-decoration: none;
    margin: 3px 0 0 86px;
    padding: 13px 5px 13px 19px;
    color: white;
    background-color: #24BA9F;
    border-radius: 10px;
}

.right {
    text-align: right;
    margin-left: 83px;
}

.right, .ten {
  transition: all 0.3s;
}

.ten:active {
  transform: scale(1.1,1.1) translateX(-4px) translateY(-6px);
}
.right:active {
  transform: scale(1.1,1.1) translateX(4px) translateY(-6px);
}


/*PRODUCTS*/

.box {
    width: 31.3%;
    height: 225px;
    margin: 28px 8px 40px 0;
}

.box h2 {
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px 0px 15px 17px;
    font-weight: 500;
}

.box h2:after {
    content: '';
    display: block;
    background-color: #24BA9F;
    width: 134px;
    height: 6px;
    margin-top: 3px;
}

.clair {
    padding-top: 120px;
    background-image: url(../images/box1_img.jpg);
    background-position: center;
    background-size: cover;
    transition: 300ms;
}
.clair h2, .margarita h2 {
  opacity: 1;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.margarita {
    padding-top: 120px;
    background-image: url(../images/box2_img.jpg);
    background-position: center;
    background-size: cover;
    margin: 28px 0px 78px 20px;
    transition: 300ms;
}
.margarita:hover h2, .clair:hover h2 {
  opacity: 0;
}

.describe {
    height: 255px;
    border: 1px solid lightgrey;
}

.describe p {
    font-size: 14px;
    line-height: 20px;
    padding: 0 5px 0 20px;
    color: grey;
}

div.describe h2 {
    margin: 27px 0 0 10px;
    padding: 0 10px;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}


/*PRICES*/

#prices {
    background-color: #f1f1f1;
}

.section_title {
    font-size: 23px;
    padding-top: 44px;
    color: #505050;
    margin-top: 19px;
    padding-bottom: 5px;
}

.section_title:after {
    content: '';
    display: block;
    background-color: #24BA9F;
    width: 30%;
    height: 6px;
    margin-top: 3px;
}

.plan {
    width: 31.1%;
    height: 502px;
    margin: 50px 0 65px 0;
    text-align: center;
    background-color: #f9f9f9;
    border: 2px solid #d5d5d5;
    color: #757575;
    position: relative;
}

.plan::before {
    content: '';
    position: absolute;
    left: 136px;
    top: -36px;
    box-sizing: border-box;
    display: block;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    border: 13px solid white;
    background-color: #c2c2c2;
    box-shadow: 0 0 0 1px #c2c2c2;
}

.middle {
    margin-left: 34px;
}

.plan h4 {
    color: #24BA9F;
    margin-top: 27px;
    font-size: 22px;
    font-weight: 400;
}

.price {
    border: 2px solid #d5d5d5;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 0 auto 33px auto;
    padding-top: 22px;
    padding-left: 7px;
    color: #c1c1c1;
    background-color: white;
}

.price p {
    font-size: 46px;
    font-weight: 600;
    display: inline-block;
    margin: 0;
}

.price .small {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.price .up {
    position: relative;
    top: -25px;
}

.plan>p:nth-child(2n + 1) {
    background-color: #e4e4e4;
    margin: 0;
    padding: 5px 0;
    font-size: 24px;
}

.plan>p:nth-child(2n + 2) {
    background-color: #f1f1f1;
    margin: 0;
    padding: 5px 0;
    font-size: 24px;
}

.plan>a {
    position: absolute;
    bottom: 20px;
    left: 101px;
    background-color: #24BA9F;
    border-radius: 10px;
    color: white;
    padding: 8px 30px;
}


/*PLAN HOVER*/

.plan:hover {
    background-color: #24BA9F;
    border-color: #24BA9F;
}

.plan:hover h4 {
    color: white;
}

.plan:hover .price {
    color: #24BA9F;
    border-color: #24BA9F;
}

.plan:hover>a {
    background-color: white;
    color: #24BA9F;
}

.plan:hover::before {
    border: 10px solid #24BA9F;
    background-color: white;
    box-shadow: 0 0 0 1px #24BA9F;
}


/* CONTACT */

#contact {
    background-color: white;
    height: 500px;
}

#contact .section_title {
    padding: 13px 0 0 3px;
}

form .float_left, footer .float_left {
    width: 60%;
}

input, textarea {
    width: 100%;
    margin: 24px 0 0 5px;
    padding: 15px 5px 9px 20px;
    border: 1px solid rgba(36, 186, 159, .3);
    font-size: 33px;
    color: #c9c9c9;
}

#message {
    resize: none;
    height: 195px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #c9c9c9;
    font-size: 33px;
    padding-left: 0;
    padding-top: 0;
    font-family: 'Raleway', sans-serif;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #c9c9c9;
    font-size: 33px;
    padding-left: 0;
    padding-top: 0;
    font-family: 'Raleway', sans-serif;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #c9c9c9;
    font-size: 33px;
    padding-left: 0;
    padding-top: 0;
    font-family: 'Raleway', sans-serif;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #c9c9c9;
    font-size: 33px;
    padding-left: 0;
    padding-top: 0;
    font-family: 'Raleway', sans-serif;
}

#contact div.float_right {
    width: 40%;
    padding-left: 30px;
}

#contact .float_right img:first-child {
    display: block;
}

#contact .float_right img:nth-child(2) {
    display: inline-block;
    padding: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(36, 186, 159, .3);
    margin-left: 40px;
}

#contact .float_right p:nth-child(3) {
    display: inline-block;
    width: 300px;
    padding-right: 20px;
    font-size: 18px;
    margin: 30px 0 33px 5px;
    color: #c9c9c9;
}

.red_chair {
    margin-left: 52px;
    margin-bottom: 10px;
}
.checkbox {
  position: relative;
  padding: 20px 0 0px 0;
  margin-left: 38px;
}
.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

.checkbox label {
  font-size: 20px;
  display: block;
  padding-left: 65px;
  position: relative;
  color: #cecece;
  cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}


.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;

}
.submit_button {
    width: 342px;
    background-color: #24BA9F;
    padding: 15px 0;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-left: 34px;
    font-size: 35px;
    font-weight: 500;
    cursor: pointer;
}


/*FOOTER*/

footer {
    color: #adadad;
    background-color: white;
    padding-top: 52px;
}

footer div.float_right {
    width: 40%;
    padding-left: 62px;
    font-size: 18px;
}

.icons {
    display: inline-block;
}

.logo_footer {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    right: 0;
    left: 63px;
    top: -5px;
}

.logo_footer span {
    font-weight: 700;
}


/*a tag style reset*/

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
